<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recruiter Login | CareerTrack</title>
    <link rel="stylesheet" href="../css/recruiterLogin.css" />
  </head>
  <body>
    <div class="login-container">
      <h2>Recruiter Login</h2>
      <form id="recruiterLoginForm">
        <input type="email" id="email" placeholder="Email" required />
        <input type="password" id="password" placeholder="Password" required />
        <button type="submit">Login</button>
      </form>
      <p>Don’t have an account? <a href="/recruiter/signUp">Sign up</a></p>
    </div>

    <script src="../js/recruiterLogin.js"></script>
  </body>
</html>
